<!doctype html>
<html>
  <head>
    <title>Movie Details</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>
    <div class="container">

      <h1><%= details.Title %></h1>
      <ul>
        <li><b>Director:</b> <%= details.Director %></li>
        <li><b>Year:</b> <%= details.Year %></li>
        <li><b>Rated:</b> <%= details.Rated %></li>
        <li><b>Released:</b> <%= details.Released %></li>
        <li><b>Runtime:</b> <%= details.Runtime %></li>
        <li><b>Genre:</b> <%= details.Genre %></li>
        <li><b>IMDb Rating:</b> <%= details.imdbRating %></li>
        <li><b>Country:</b> <%= details.Country %></li>
      </ul>
    </div>
  </body>
</html>
